#summary {
    margin-bottom: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: bold;
    color: #000080;
  }
  
.header {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
    font-weight: bold;
    color: #3333bb;
    opacity: 80%;

}